<div>
     <div class="col-sm-3 col-md-3">
            <app-posts (getCurrentPost)='myPost($event)' [myCurrentBee]='myCurrentBee' [iAmBee]='iAmBee'  *ngIf="showArray[0]"></app-posts>
        </div>

        <div class="col-sm-3 col-md-3" *ngIf="showArray[1]">
            <app-album [myCurrentBee]='myCurrentBee'></app-album>
        </div>
        
        <div class="col-sm-3 col-md-3" *ngIf="showArray[2]">
            <app-todos [myCurrentBee]='myCurrentBee'></app-todos>
        </div>

        <app-new-comment [iAmBee]='iAmBee' [littlePost]="littlePost"></app-new-comment>

        <app-new-post [myCurrentBee]='myCurrentBee'></app-new-post>

        <app-new-todo [myCurrentBee]='myCurrentBee'></app-new-todo>
</div>
